body{
    color:white;
    background:rgb(200, 240, 108);
}

.heading{
    width: 80%;
    font: size 22px;
}
.name_of_objects, #result_object_name, #result_object_accurcy
{
color:  rgb(255, 0, 64);
}
#camera{
    border: 2px dashed black;
    width: 370px;
    height: 370px;
}